/* line 1, ../css-sass/style.scss */
body {
  margin: 0px;
}

/* Base */
/* line 7, ../css-sass/style.scss */
p, h1, h2, h3, h4, li, a {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: left;
  line-height: 1.5;
}

/* line 16, ../css-sass/style.scss */
p {
  margin: 0px;
}

/* line 20, ../css-sass/style.scss */
a {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-align: center;
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

/* line 30, ../css-sass/style.scss */
a:hover {
  border-bottom: 1px solid #000;
}

/* line 34, ../css-sass/style.scss */
h1 {
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  line-height: 44px;
  padding-bottom: 20px;
}

/* line 42, ../css-sass/style.scss */
h2 {
  font-size: 34px;
  font-weight: 700;
}

/* line 47, ../css-sass/style.scss */
h3 {
  line-height: 1.7;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 800;
}

/* line 54, ../css-sass/style.scss */
h4 {
  line-height: 18px;
}

/* line 59, ../css-sass/style.scss */
ul {
  padding-left: 0px;
  margin-left: 23px;
}

/* line 65, ../css-sass/style.scss */
ul li {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding: 0px 0 10px 0px;
  margin: 10px 0 0 0;
  line-height: 20px;
}

/* line 75, ../css-sass/style.scss */
ol li {
  font-size: 16px;
  font-weight: 800;
  color: #FFF;
  font-style: italic;
  background: url("//oea.s3.amazonaws.com/homepage/images/oea-ol-bg.png") top left no-repeat;
  min-height: 40px;
  padding: 9px 0 0 15px;
  margin: 10px 0px;
}

/* line 86, ../css-sass/style.scss */
ol {
  list-style-position: inside;
  list-style-type: none;
  float: left;
  margin-left: 10px;
  padding: 20px 0px;
  width: 640px;
}

/* line 95, ../css-sass/style.scss */
li p {
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
}

/* line 101, ../css-sass/style.scss */
i {
  font-weight: normal;
}

/* Helpers */
/* line 108, ../css-sass/style.scss */
.text-white p, .text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5 {
  color: #FFF;
}

/* line 113, ../css-sass/style.scss */
.center-text {
  text-align: center;
}

/* line 117, ../css-sass/style.scss */
.vertical-middle {
  vertical-align: middle;
}

/* line 121, ../css-sass/style.scss */
.center {
  margin: 0 auto;
  display: block;
}

/* line 126, ../css-sass/style.scss */
.float-left {
  float: left;
}

/* line 130, ../css-sass/style.scss */
.float-right {
  float: right;
}

/* line 134, ../css-sass/style.scss */
.margin-right {
  margin-right: 20px;
}

/* line 138, ../css-sass/style.scss */
.margin-left {
  margin-left: 20px;
}

/* Grid */
/* line 144, ../css-sass/style.scss */
.container {
  width: 1010px;
  margin: 0px auto;
  text-align: left;
}

/* line 150, ../css-sass/style.scss */
.unit {
  float: left;
  padding: 10px;
}

/* line 155, ../css-sass/style.scss */
.tile {
  float: left;
}

/* line 159, ../css-sass/style.scss */
.bullet {
  height: 50px;
  display: table;
  padding: 10px;
}
/* line 164, ../css-sass/style.scss */
.bullet img {
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 170, ../css-sass/style.scss */
.bullet p {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
}

/* line 179, ../css-sass/style.scss */
.size1of2 {
  width: 50%;
}

/* line 183, ../css-sass/style.scss */
.size1of3 {
  width: 33.3333%;
}

/* line 187, ../css-sass/style.scss */
.size2of3 {
  width: 66.6666%;
}

/* line 191, ../css-sass/style.scss */
.size1of4 {
  width: 25%;
}

/* line 195, ../css-sass/style.scss */
.size3of4 {
  width: 75%;
}

/* line 199, ../css-sass/style.scss */
.size1of5 {
  width: 20%;
}

/* line 203, ../css-sass/style.scss */
.size3of5 {
  width: 60%;
}

/* line 207, ../css-sass/style.scss */
.size1of6 {
  width: 16%;
}

/* line 211, ../css-sass/style.scss */
.size5of6 {
  width: 83.3333%;
}

/* line 215, ../css-sass/style.scss */
.lastUnit {
  display: table-cell;
  float: none;
}

/* Layout */
/* line 222, ../css-sass/style.scss */
.main-wrapper {
  width: 980px;
  margin: 0 auto;
}

/* line 228, ../css-sass/style.scss */
.header img {
  display: block;
  margin: 0 auto;
}

/* line 233, ../css-sass/style.scss */
.header h3 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 1.5;
  margin: 10px 0px;
}

/* line 241, ../css-sass/style.scss */
.footer {
  margin-bottom: 40px;
}
/* line 244, ../css-sass/style.scss */
.footer p {
  text-align: center;
}

/* line 249, ../css-sass/style.scss */
.legal {
  font-size: 12px;
  font-weight: 400;
  color: #777;
  text-align: center;
  margin-bottom: 0px;
}

/* Modules */
/* line 259, ../css-sass/style.scss */
.button {
  margin: 10px auto 0px auto;
  display: block;
  padding: 10px 0px;
  width: 340px;
  background: #f7b52b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7b52b 15%, #f2cc80 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #f7b52b), color-stop(100%, #f2cc80));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7b52b 15%, #f2cc80 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7b52b 15%, #f2cc80 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7b52b 15%, #f2cc80 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7b52b 15%, #f2cc80 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7b52b', endColorstr='#f2cc80',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #FFAC00;
  cursor: pointer;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  text-shadow: 0px 1px 0px #000;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #F8DDA3, 0px 0px 1px #999;
}

/* line 284, ../css-sass/style.scss */
.button:hover,
.button:focus {
  background: #f2cc80;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2cc80 0%, #f7b52b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2cc80), color-stop(100%, #f7b52b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2cc80 0%, #f7b52b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f2cc80 0%, #f7b52b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f2cc80 0%, #f7b52b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f2cc80 0%, #f7b52b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2cc80', endColorstr='#f7b52b',GradientType=0 );
  /* IE6-9 */
  border-bottom: 1px solid #FFAC00;
}

/* line 296, ../css-sass/style.scss */
.section {
  padding: 40px 0px 80px 0px;
  position: relative;
  width: 100%;
}

/* line 302, ../css-sass/style.scss */
.section-grey {
  background: #EEE;
}

/* line 306, ../css-sass/style.scss */
.section-red {
  background: #e45743;
}
/* line 309, ../css-sass/style.scss */
.section-red p {
  font-size: 16px;
}

/* line 314, ../css-sass/style.scss */
.section-black {
  margin: 0px;
  background: #5c655c;
}

/* line 319, ../css-sass/style.scss */
.quote {
  padding: 40px 0px 40px 0px;
  position: relative;
  width: 100%;
}
/* line 324, ../css-sass/style.scss */
.quote h2 {
  text-align: center;
}
/* line 328, ../css-sass/style.scss */
.quote img {
  display: block;
  margin: 0 auto;
}
/* line 332, ../css-sass/style.scss */
.quote p {
  text-align: center;
}

/* line 337, ../css-sass/style.scss */
.wide-testimonial {
  padding: 40px 0px 40px 0px;
  position: relative;
  width: 100%;
}
/* line 342, ../css-sass/style.scss */
.wide-testimonial img {
  display: block;
  margin: 0 auto;
  border-radius: 110px;
}
/* line 348, ../css-sass/style.scss */
.wide-testimonial p {
  font-size: 16px;
  text-align: justify;
  width: 100%;
  float: left;
}

/* line 357, ../css-sass/style.scss */
.sig {
  font-weight: 800;
  font-style: italic;
  display: block;
  text-align: right;
  margin-top: 20px;
  color: #fff;
}

/* line 366, ../css-sass/style.scss */
.biz {
  font-size: 14px;
  display: block;
  text-align: right;
  color: #fff;
}

/* line 373, ../css-sass/style.scss */
.short {
  width: 650px;
}

/* line 377, ../css-sass/style.scss */
.small-testimonial {
  position: relative;
  margin-top: 20px;
}
/* line 382, ../css-sass/style.scss */
.small-testimonial p {
  background: #FFF;
  padding: 20px;
  border-radius: 3px;
  margin-left: 181px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
/* line 393, ../css-sass/style.scss */
.small-testimonial img {
  float: left;
  width: 141px;
  height: 141px;
}
/* line 399, ../css-sass/style.scss */
.small-testimonial .sig {
  font-style: italic;
  color: #E30045;
}
/* line 404, ../css-sass/style.scss */
.small-testimonial .arrow {
  position: absolute;
  top: 52px;
  left: -18px;
}

/* line 411, ../css-sass/style.scss */
.signup-box {
  width: 580px;
  margin: 20px auto 0px auto;
  padding: 40px;
  background: #FFF;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 0 20px #EEE, 0px 3px 5px #EEE;
  -moz-box-shadow: inset 0 0 20px #eee, 0px 3px 5px #eee;
  box-shadow: inset 0 0 20px #EEE, 0px 3px 5px #EEE;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 426, ../css-sass/style.scss */
.signup-input {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  float: left;
  border: 1px solid #CCC;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  line-height: 38px;
  height: 38px;
  padding: 0px 36px 0px 10px;
  width: 232px;
  margin: 0 10px 0 0;
  outline: none;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 450, ../css-sass/style.scss */
.signup-image-mail {
  background: url("//oea.s3.amazonaws.com/homepage/images/oea-section-24-emailbg.png") right center no-repeat #eeeeee;
}

/* line 454, ../css-sass/style.scss */
.signup-image-person {
  background: url("//oea.s3.amazonaws.com/homepage/images/oea-section-24-userbg.png") right center no-repeat #eeeeee;
}

/* line 458, ../css-sass/style.scss */
.signup-button {
  display: inline-block;
  margin: 20px auto 0px auto;
  padding: 10px 0px;
  width: 340px;
  background: #f7b52b;
  /*       
      background: -moz-linear-gradient(top, #6aa84f 0%, #588b43 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6AA84F), color-stop(100%,#588B43));
      background: -webkit-linear-gradient(top, #6AA84F 0%,#588B43 100%);
      background: -o-linear-gradient(top, #6aa84f 0%,#588b43 100%);
      background: -ms-linear-gradient(top, #6aa84f 0%,#588b43 100%);
      background: linear-gradient(to bottom, #6AA84F 0%,#588B43 100%);
  */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6aa84f', endColorstr='#588b43',GradientType=0 );
  border: 1px solid #4D7A3B;
  cursor: pointer;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  text-shadow: 0px 1px 0px #000;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #8AD867, 0px 0px 10px #999;
}

/* Theme */
/* line 486, ../css-sass/style.scss */
.dark-background {
  background: url("//oea.s3.amazonaws.com/homepage/images/oea-trans-bg.png") top center;
  width: 440px;
  padding: 40px;
}

/* line 492, ../css-sass/style.scss */
.checks {
  background: url("../img/checks.jpg") top left no-repeat;
}

/* line 496, ../css-sass/style.scss */
.nochecks {
  background: url("../img/nochecks.jpg") top left no-repeat;
}

/* line 500, ../css-sass/style.scss */
.text-red {
  color: #B10000;
  text-decoration: underline;
}

/* line 505, ../css-sass/style.scss */
.checks, .nochecks {
  margin-left: 0px !important;
}
/* line 508, ../css-sass/style.scss */
.checks li, .nochecks li {
  list-style: inside none;
  padding-left: 26px;
}

/* line 514, ../css-sass/style.scss */
.checks li {
  background: url("../img/check.jpg") top left no-repeat;
}

/* line 518, ../css-sass/style.scss */
.nochecks li {
  background: url("../img/nocheck.jpg") top left no-repeat;
}

/* line 522, ../css-sass/style.scss */
.list-title {
  margin-bottom: -15px;
}

/* line 526, ../css-sass/style.scss */
.highlight {
  background-color: yellow;
}

/* line 530, ../css-sass/style.scss */
.blub {
  list-style-image: url("img/icons/light-bulb.png");
}

/* line 536, ../css-sass/style.scss */
.image-text-style-img-container img {
  display: block !important;
  margin: 0 auto !important;
  border-radius: 110px !important;
}
